@using System.Threading
@using Syncfusion.Blazor
@using System.Threading
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using EFCore.Models
@using AutoMapper
@using School.WebApp.Adapters
@using School.WebApp.Services
@using School.WebApp.AdapterModels
@using School.WebApp.RazorModels
@using School.WebApp.Interfaces
@using School.WebApp.Components.Commons
@using School.WebApp.Components.Pickers
@using School.WebApp.SortModels
@using ShareDomain.DataModels
@inject PersonRazorModel RazorModel
@implements IRazorPage

<div>
    <div class="d-inline-block pr-2">排序條件 : </div>
    <div class="d-inline-block">
        <SfDropDownList TValue="int" TItem="SortCondition"
                        Placeholder="選擇排序條件" DataSource="@RazorModel.SortConditions">
            <DropDownListFieldSettings Value="Id" Text="Title"></DropDownListFieldSettings>
            <DropDownListEvents TValue="int" ValueChange="@RazorModel.SortChanged"></DropDownListEvents>
        </SfDropDownList>
    </div>
</div>

<SfGrid @ref="Grid" TValue="PersonAdapterModel"
        AllowPaging="true"
        Toolbar="@(new List<string>() { "新增","重新整理","Search" })">
    <SfDataManager Adaptor="Adaptors.CustomAdaptor">
        <PersonAdapter CurrentSortCondition="@RazorModel.CurrentSortCondition"></PersonAdapter>
    </SfDataManager>
    <GridEvents CommandClicked="RazorModel.OnCommandClicked" TValue="PersonAdapterModel"
                OnToolbarClick="RazorModel.ToolbarClickHandler"
                RowSelected="RowSelectHandler" RowDeselected="RowDeselectHandler" />
    <GridPageSettings PageSize="@PageSize" />
    <GridSearchSettings Fields="@(new string[] { "Name","Description"})"
                        Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true" />
    <GridColumns>
        <GridColumn Field=@nameof(PersonAdapterModel.FullName) HeaderText="姓名" Width="150"></GridColumn>
        <GridColumn Field=@nameof(PersonAdapterModel.PersonType) HeaderText="類型" Width="70" Format="yyyy-MM-dd"></GridColumn>
        <GridColumn Field=@nameof(PersonAdapterModel.EnrollmentDate) HeaderText="註冊日期" Width="100" Format="yyyy-MM-dd"></GridColumn>
        <GridColumn Field=@nameof(PersonAdapterModel.HireDate) HeaderText="雇用日期" Width="100" Format="yyyy-MM-dd"></GridColumn>
        <GridColumn HeaderText="命令" Width="150" TextAlign="@TextAlign.Center">
            <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "修改", CssClass = "e-flat" })"></GridCommandColumn>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "刪除", CssClass = "e-flat e-danger" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SfDialog @bind-Visible="@RazorModel.IsShowEditRecord" IsModal="true"
          Width="600px" Height="600px">
    <DialogTemplates>
        <Header>@RazorModel.EditRecordDialogTitle</Header>
        <Content>
            <EditForm Model="@RazorModel.CurrentRecord">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputWatcher EditContextActionChanged="@RazorModel.OnEditContestChanged" />

                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">名</label>
                            <SfTextBox @bind-Value="RazorModel.CurrentRecord.LastName"></SfTextBox>
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.LastName)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">姓</label>
                            <SfTextBox @bind-Value="RazorModel.CurrentRecord.FirstName"></SfTextBox>
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.FirstName)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">註冊日期</label>
                            <SfDatePicker @bind-Value="RazorModel.CurrentRecord.EnrollmentDate"></SfDatePicker>
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.EnrollmentDate)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">雇用日期</label>
                            <SfDatePicker @bind-Value="RazorModel.CurrentRecord.HireDate"></SfDatePicker>
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.HireDate)" />
                        </div>
                    </div>

                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div>
                <button type="submit" class="btn btn-primary" @onclick="RazorModel.OnRecordEditConfirm">儲存</button>
                <button class="btn btn-secondary" @onclick="RazorModel.OnRecordEditCancel">取消</button>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

@*<DepartmentPicker OpenPicker="RazorModel.ShowAontherRecordPicker" OnConfirmCallback="x=>RazorModel.OnPickerCompletion(x)" />*@


<MessageBox Height="@RazorModel.MessageBox.Height" Width="@RazorModel.MessageBox.Width"
            IsVisible="@RazorModel.MessageBox.IsVisible"
            Title="@RazorModel.MessageBox.Title" Message="@RazorModel.MessageBox.Body"
            Callback="x=>RazorModel.MessageBox.Hidden()" />

<ConfirmBox Height="@RazorModel.ConfirmMessageBox.Height" Width="@RazorModel.ConfirmMessageBox.Width"
            IsVisible="@RazorModel.ConfirmMessageBox.IsVisible"
            Title="@RazorModel.ConfirmMessageBox.Title" Message="@RazorModel.ConfirmMessageBox.Body"
            Callback="x=>RazorModel.RemoveThisRecord(x)" />

<DialogBackground />

@code{
    SfGrid<PersonAdapterModel> Grid;
    [Parameter]
    public EventCallback<PersonAdapterModel> OnRecordChanged { get; set; }
    [Parameter]
    public int PageSize { get; set; } = 15;
    [Parameter]
    public EventCallback<object> OnViewRender { get; set; }

    protected override void OnInitialized()
    {
        RazorModel.Setup(this, Grid);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == true)
        {
            RazorModel.Setup(this, Grid);
        }
        if (OnViewRender.HasDelegate)
        {
            await OnViewRender.InvokeAsync(null);
        }
    }
    public void NeedRefresh()
    {
        StateHasChanged();
    }
    public async Task NeedInvokeAsync(System.Action action)
    {
        await InvokeAsync(action);
    }

    #region 選取紀錄異動的事件處理
    public async Task RowSelectHandler(RowSelectEventArgs<PersonAdapterModel> args)
    {
        if (OnRecordChanged.HasDelegate)
        {
            await OnRecordChanged.InvokeAsync(args.Data);
        }
    }
    public async Task RowDeselectHandler(RowDeselectEventArgs<PersonAdapterModel> args)
    {
        if (OnRecordChanged.HasDelegate)
        {
            await OnRecordChanged.InvokeAsync(new PersonAdapterModel()
            {
                PersonId = -2,
                FirstName = "",
            });
        }
    }
    #endregion
}
