@using System.Threading
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using SyncfusionLab.Adaptors
@using SyncfusionLab.Services
@using SyncfusionLab.Components.Commons
@using SyncfusionLab.AdaptorModels
@using SyncfusionLab.RazorModels
@using SyncfusionLab.Helpers
@using EFCoreModel.Models
@inject IDepartmentService CurrentService
@inject SchoolContext SchoolContext

<SfDialog @bind-Visible="@OpenPicker" Width="800px" Height="600" IsModal="true">
    <DialogTemplates>
        <Header>@DialogTitle</Header>
        <Content>
            <div>
                <SfDropDownList TValue="int" TItem="SortCondition"
                                Placeholder="選擇排序條件" DataSource="@SortConditions">
                    <DropDownListFieldSettings Value="Id" Text="Title"></DropDownListFieldSettings>
                    <DropDownListEvents TValue="int" ValueChange="@SortChanged"></DropDownListEvents>
                </SfDropDownList>
            </div>
            <SfGrid @ref="GridDialog" TValue="DepartmentAdaptorModel"
                    AllowPaging="true"
                    Toolbar="@(new List<string>() { "Search" })">
                <SfDataManager Adaptor="Adaptors.CustomAdaptor">
                    <DepartmentAdaptor CurrentSortCondition="@CurrentSortCondition"></DepartmentAdaptor>
                </SfDataManager>
                <GridSelectionSettings Type="SelectionType.Single"></GridSelectionSettings>
                <GridEvents RowSelected="GetSelectedRecords" TValue="DepartmentAdaptorModel"></GridEvents>
                <GridPageSettings PageSize="8"></GridPageSettings>
                <GridSearchSettings Fields="@(new string[] { "FirstName", "LastName" })" Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true"></GridSearchSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(DepartmentAdaptorModel.Name) HeaderText="名稱" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(DepartmentAdaptorModel.Budget) HeaderText="預算" Width="70"></GridColumn>
                    <GridColumn Field=@nameof(DepartmentAdaptorModel.StartDate) HeaderText="開始時間" Width="100" Format="yyyy-MM-dd"></GridColumn>
                    <GridColumn Field=@nameof(DepartmentAdaptorModel.FullName) HeaderText="管理者" Width="100" Format="yyyy-MM-dd"></GridColumn>
                </GridColumns>
            </SfGrid>
        </Content>
        <FooterTemplate>
            <button @onclick="@OnPickerOK" class='btn btn-primary'>確認</button>
            <button @onclick="@OnPickerCancel" class='btn btn-secondary'>取消</button>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<MessageBox Height="400" Width="600" IsVisible="@ShowMessageBox"
            Title="@MessageBoxTitle" Message="@MessageBoxBody"
            Callback="x=>ShowMessageBox =false" />

<DialogBackground />

@code{
    SfGrid<DepartmentAdaptorModel> GridDialog;
    [Parameter]
    public bool OpenPicker { get; set; } = false;
    string DialogTitle = "請選取科系紀錄";
    DepartmentAdaptorModel CurrentRecord;
    [Parameter]
    public EventCallback<DepartmentAdaptorModel> OnConfirmCallback { get; set; }
    public bool ShowMessageBox { get; set; } = false;
    public string MessageBoxBody { get; set; } = "";
    public string MessageBoxTitle { get; set; } = "";
    public List<SortCondition> SortConditions { get; set; } = new List<SortCondition>();
    public SortCondition CurrentSortCondition { get; set; } = new SortCondition();

    protected override void OnInitialized()
    {
        DepartmentSortHelper.Initialization(SortConditions);
    }

    public void ShowDialog()
    {
        OpenPicker = true;
    }

    async Task OnPickerOK()
    {
        if (CurrentRecord != null)
        {
            await OnConfirmCallback.InvokeAsync(CurrentRecord);
        }
        else
        {
            MessageBoxTitle = "通知訊息";
            MessageBoxBody = "請選取一筆紀錄";
            ShowMessageBox = true;
        }
    }
    async Task OnPickerCancel()
    {
        await OnConfirmCallback.InvokeAsync(null);
    }
    public void GetSelectedRecords(RowSelectEventArgs<DepartmentAdaptorModel> args)
    {
        CurrentRecord = args.Data as DepartmentAdaptorModel;
    }
    #region 排序搜尋事件

    public void SortChanged(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int> args)
    {
        if (GridDialog != null)
        {
            CurrentSortCondition.Id = args.Value;
            GridDialog.Refresh();
        }
    }

    #endregion
}
