@using System.Threading
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using SyncfusionLab.Adaptors
@using SyncfusionLab.Services
@using EFCoreModel.Models
@using AutoMapper
@using SyncfusionLab.AdaptorModels
@using SyncfusionLab.RazorModels
@using SyncfusionLab.Interfaces
@using SyncfusionLab.Components.Commons
@using SyncfusionLab.Components.Pickers
@inject StudentGradeRazorModel RazorModel
@implements IRazorPage

<div>
    @if (CombineWithHeaderMode == false)
    {
        <button class="btn btn-primary" @onclick="x => RazorModel.ShowAontherRecordPicker = true">選取課程</button>
        <span>@RazorModel.Header.Title</span>
    }
    else
    {
        <div style="height:30px"></div>
        <h1 class="text-success">@RazorModel.HeaderTitle</h1>
    }
</div>

@if (RazorModel.Header.IsExistCourse() == true || CombineWithHeaderMode == false)
{
    <div>
        <SfDropDownList TValue="int" TItem="SortCondition"
                        Placeholder="選擇排序條件" DataSource="@RazorModel.SortConditions">
            <DropDownListFieldSettings Value="Id" Text="Title"></DropDownListFieldSettings>
            <DropDownListEvents TValue="int" ValueChange="@RazorModel.SortChanged"></DropDownListEvents>
        </SfDropDownList>
    </div>

    <SfGrid @ref="Grid" TValue="StudentGradeAdaptorModel"
            AllowPaging="true"
            Toolbar="@(new List<string>() { "新增", "Search" })">
        <SfDataManager Adaptor="Adaptors.CustomAdaptor">
            <StudentGradeAdaptor HeaderID="RazorModel.Header.CourseId"
                                 CurrentSortCondition="@RazorModel.CurrentSortCondition"></StudentGradeAdaptor>
        </SfDataManager>
        <GridEvents CommandClicked="RazorModel.OnCommandClicked" TValue="StudentGradeAdaptorModel"
                    OnToolbarClick="RazorModel.ToolbarClickHandler" />
        <GridPageSettings PageSize="@PageSize" />
        <GridSearchSettings Fields="@(new string[] { "Person.FirstName", "Person.LastName" })"
                            Operator=Syncfusion.Blazor.Operator.Contains IgnoreCase="true" />
        <GridColumns>
            <GridColumn Field=@nameof(StudentGradeAdaptorModel.Grade) HeaderText="分數" Width="150"></GridColumn>
            <GridColumn Field=@nameof(StudentGradeAdaptorModel.StudentName) HeaderText="學生" Width="100" Format="yyyy-MM-dd"></GridColumn>
            <GridColumn HeaderText="命令" Width="150" TextAlign="@TextAlign.Center">
                <GridCommandColumns>
                    <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "修改", CssClass = "e-flat" })"></GridCommandColumn>
                    <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "刪除", CssClass = "e-flat e-danger" })"></GridCommandColumn>
                </GridCommandColumns>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}

<SfDialog @bind-Visible="@RazorModel.IsShowEditRecord" IsModal="true"
          Width="600px" Height="600px">
    <DialogTemplates>
        <Header>@RazorModel.EditRecordDialogTitle</Header>
        <Content>
            <EditForm Model="@RazorModel.CurrentRecord">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputWatcher EditContextActionChanged="@RazorModel.OnEditContestChanged" />

                <div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">分數</label>
                            <SfNumericTextBox @bind-Value="RazorModel.CurrentRecord.Grade"></SfNumericTextBox>
                            <ValidationMessage For="@(() => RazorModel.CurrentRecord.Grade)" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label">學生 <span class="oi oi-question-mark" @onclick="RazorModel.OnOpenPicker"></span></label>
                            <SfTextBox Value="@RazorModel.CurrentRecord.StudentName" Enabled="false"></SfTextBox>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
        <FooterTemplate>
            <div>
                <button type="submit" class="btn btn-primary" @onclick="RazorModel.OnRecordEditConfirm">儲存</button>
                <button class="btn btn-secondary" @onclick="RazorModel.OnRecordEditCancel">取消</button>
            </div>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<PickPerson OpenPicker="RazorModel.ShowAontherRecordPicker" OnConfirmCallback="x=>RazorModel.OnPickerCompletion(x)"></PickPerson>


<MessageBox Height="@RazorModel.MessageBox.Height" Width="@RazorModel.MessageBox.Width"
            IsVisible="@RazorModel.MessageBox.IsVisible"
            Title="@RazorModel.MessageBox.Title" Message="@RazorModel.MessageBox.Body"
            Callback="x=>RazorModel.MessageBox.Hidden()" />

<ConfirmBox Height="@RazorModel.ConfirmMessageBox.Height" Width="@RazorModel.ConfirmMessageBox.Width"
            IsVisible="@RazorModel.ConfirmMessageBox.IsVisible"
            Title="@RazorModel.ConfirmMessageBox.Title" Message="@RazorModel.ConfirmMessageBox.Body"
            Callback="x=>RazorModel.RemoveThisRecord(x)" />

<DialogBackground />

@code{
    SfGrid<StudentGradeAdaptorModel> Grid;
    [Parameter]
    public CourseAdaptorModel Header { get; set; }
    [Parameter]
    public bool CombineWithHeaderMode { get; set; } = false;
    [Parameter]
    public int PageSize { get; set; } = 15;

    protected override void OnInitialized()
    {
        RazorModel.Setup(this, Grid);
        if (Header is null)
        {
            RazorModel.Header = new CourseAdaptorModel() { CourseId = -1 };
        }
        else
        {
            RazorModel.Header = Header;
        }
    }
    protected override void OnAfterRender(bool firstRender)
    {
        RazorModel.Setup(this, Grid);
    }
    public void NeedRefresh()
    {
        StateHasChanged();
    }
    public async Task NeedInvokeAsync(System.Action action)
    {
        await InvokeAsync(action);
    }
    public void RefreshNewMaster(CourseAdaptorModel header)
    {
        RazorModel.UpdateMasterHeader(header);
    }
}
